.drop-dwn {
  justify-content: flex-start;
  margin-right: auto;
  display: inline-block;
}

.drpdwn-content {
  display: none;
  justify-content: flex-start;
  margin-right: auto;
}

.drpdwn-content > a {
  color: white;
  font-family: futura;
  display: block;
}

.show {
  display: block;
}

.active {
  background-color: transparent;
  color: white;
}

.nav-bar {
  display: flex;
  max-width: 100%;
  gap: 20px;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  height: 30px;
  background-color: none;
  border-radius: 8px;
}

.menu {
  background-color: orange;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  height: 50px;
  width: 100px;
  border-radius: 5%;
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 50px;
}

.menu:hover {
  background-color: transparent;
}

.navlink1 {
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-style: bold;
    font-size: 1rem;
    color: orange;
    padding: 2px;
    width: 130px;
    height: 20px;
  }
  
  .navlink1:hover {
    background-color: transparent;
    color: white;
  }

.log-out {
  background-color: #e58e73;
  font-family: sans-serif;
  color: #D3D3D3;
  border-radius: 12px;
  padding: 2px;
  width: 130px;
  border: 1px;
  border-color: white
}

.log-out:hover {
  background-color: white;
  color: black;
}

a:link {
  color: orange;
}

a:visited {
  color: orange;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

#hero h1 {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-content: center;
  font-family: futura;
  font-size: 6rem;
  font-weight: bold;
  color: bisque;
}

#hero h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: orange;
}

.sections {
  display: grid;
  max-width: 100%;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 350px);
  justify-items: center;
  align-items: centre;
}

@media (max-width: 1000px) {
  .sections {
    grid-template-columns: repeat(2, 350px);
  }
}

@media (max-width: 500px) {
  .sections {
    grid-template-columns: repeat(1, 350px);
  }
}

img {
  width: 350px;
  border-radius: 12px;
}

#shoes button {
  background-color: transparent;
  border: none;
  color: bisque;
  position: absolute;
  padding-left: 80px;
  padding-top: 80px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.sneakers {
opacity: 0.7;
}

#tops button {
  background-color: transparent;
  border: none;
  color: orange;
  position: absolute;
  padding-left: 80px;
  padding-top: 80px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.tsrt {
opacity: 0.6;
}

#bottoms button {
  background-color: transparent;
  border: none;
  color: bisque;
  position: absolute;
  padding-left: 80px;
  padding-top: 80px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.trousers {
  opacity: 0.6;
}

#accessories button {
  background-color: transparent;
  border: none;
  color: orange;
  position: absolute;
  padding-left: 80px;
  padding-top: 80px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.access {
  opacity: 0.6;
}

p {
  color: orange;
  font-size: 2rem;
  font-family: futura;
}

.browsetops {
  max-width: 200px;
}

li {
  color: orange;
  font-size: 1rem;
  text-decoration: none;
  font-family: futura;
}

.buy {
  background-color: transparent;
  border: none;
  color: purple;
  justify-content: right;
  font-weight: bold;
  cursor: pointer;
  font-family: futura;
}

#sizes {
  background-color: transparent;
  border: none;
  color: purple;
  margin-left: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: futura;
  
